* {
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  font-size: 18px;
}

.fulllayar {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Sources/Kopi.jpg);
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  overflow: auto;
}

/* --------Navigasi---------- */
.nav {
  display: flex;
  padding: 0 2%;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(56, 55, 55, 0.5);
}

.fa-x {
  position: absolute;
  padding: 20px 20px 0 0;
  right: 0;
  font-size: 20px;
  visibility: hidden;
}
.fa-bars {
  color: white;
  position: absolute;
  padding: 20px 20px 0 0;
  right: 0;
  font-size: 25px;
  visibility: hidden;
}

.logo {
  width: 150px;
}
.fa {
  color: white;
}

.nav li {
  display: inline-block;
  text-decoration: none;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 25px;
  margin-left: 20px;
}

.nav li:hover {
  background-color: black;
  padding: 20px;
}

.nav li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

/*---------------------Navigasi Handpone-----------------*/
@media (max-width: 700px) {
  /*navigasi*/
  .nav {
    display: inline-block;
    position: absolute;
    background-color: rgb(192, 137, 17);
    height: 100vh;
    width: 300px;
    top: 0;
    right: 0;
    text-align: left;
    z-index: -9999;
  }

  .fa-x {
    visibility: visible;
  }
  .fa-bars {
    visibility: visible;
  }

  .nav img {
    display: block;
    position: relative;
    top: 0;
  }
  .nav li {
    display: block;
    margin: 10px;
    margin-bottom: 20px;
  }
  .nav li:hover {
    background-color: #4fb911;
    padding: 2px;
  }
}

/* --------Akhir Nav ------- */

/*Harga Harga*/

img {
  max-width: 100%;
}

/*Order & Form*/
/*Form*/
.form {
  color: white;
  position: relative;
  background-color: rgba(4, 9, 30, 0.3);
  border-radius: 20px;
  font-family: "Pavanam", sans-serif;
}

fieldset {
  border-radius: 20px;
}

.isiform p {
  margin-top: 20px;
  margin-left: 20px;
}

.isiform input {
  outline: none;
  border: none;
  font-size: 20px;
}

.telpemail label {
  display: inline-block;
}

.submit {
  margin-bottom: 20px;
}

.regist {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Alegreya SC", serif;
}

.isiform {
  font-size: 20px;
}

.order {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "tulis form";
  grid-template-columns: 0.5fr 1.5fr; /*Untuk Kolom (samping)*/
  grid-template-rows: auto; /*Untuk baris */
}

.kata {
  grid-area: tulis;
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  color: wheat;
}

.form {
  grid-area: form;
}

.ketlanjut {
  display: flex;
}

.tingkatmatang {
  padding-left: 10px;
}

.jeniskopi {
  padding-left: 10px;
}

.jeniskomoditas {
  padding-left: 10px;
}

/* ----------Form Hp ------------------- */

@media (max-width: 700px) {
  fieldset {
    width: 90%;
    position: absolute;
    left: -20%;
  }

  .kata {
    display: none;
  }
}
