* {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

body {
    font-size: 18px;
    font-family: 'Bacasime Antique', Courier, monospace;
}

.container {
    display: grid;
    overflow: scroll;
}

.navigasi {
    order: -1;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-items: center;
}

.navigasi ul {
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    display: grid;
    gap: 10px;
}

.navigasi a {
    display: block;
    background-color: black;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}



/*Harga Harga*/

img {
    max-width: 100px;
}